@font-face {
    font-family: Avenir;
    src: url("../fonts/AvenirLTStd-Book.otf");
}
@font-face {
    font-family: AvenirBlack;
    src: url("../fonts/AvenirLTStd-Black.otf");
}

body {
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    font-family: Avenir;
}

.menubar {
    /* background-color: black; */
    position: fixed;
    width: 100%;
    height: 5vw;
    left: 0;
    top: 0;
    font-family: AvenirBlack;
    backdrop-filter: blur(12px);
}

.homeButton {
    position: fixed;
    top: 0.5vw;
    left: 0.5vw;
    width: 4vw;
    height: 4vw;
    border-radius: 1vw;
    overflow: hidden;
    cursor: pointer;
}
.homeButtonImg {
    padding: 0;
    width: 100%;
    height: 100%;
}

.midisButton {
    position: fixed;
    top: 0.5vw;
    left: 4.5vw;
    width: 8vw;
    height: 4vw;
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.soundfontsButton {
    position: fixed;
    top: 0.5vw;
    left: 12.5vw;
    width: 13.5vw;
    height: 4vw;
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.softwareButton {
    position: fixed;
    top: 0.5vw;
    left: 26vw;
    width: 11vw;
    height: 4vw;
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogButton {
    position: fixed;
    top: 0.5vw;
    left: 37vw;
    width: 7vw;
    height: 4vw;
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundVideo {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45vw;
    z-index: -1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.videoOverlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
}

.line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1vw;
}
.line .lineSegment1 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 40vw;
    height: 0.1vw;
    top: 0.45vw;
    left: 1vw;
}
.line .lineSegment2 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 40vw;
    height: 0.1vw;
    top: 0.45vw;
    right: 1vw;
}
.line .lineArrow1 {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: -0.25vw;
    right: 41vw;
}
.line .lineArrow2 {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    top: -0.25vw;
    left: 41vw;
    transform: rotate(180deg);
}
.line .lineTitle {
    position: absolute;
    width: 100%;
    left: 0;
    top: -0.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: AvenirBlack;
}

.WebMain {
    position: absolute;
    top: 48vw;
}